@font-face {
    font-family: 'JicamaDays';
    src: url(./assets/font/TheWildBreathOfZelda-15Lv.ttf) FORMAT('truetype');
}
@font-face {
    font-family: 'Texto';
    src: url(./assets/font/BreatheFire-65pg.ttf) FORMAT('truetype');
}
